@import "../utils/variables";

.card {
	padding: 2.5rem 2.5rem;
	p {
		line-height: 1.5rem;
		margin: 0;
	}
	button {
		margin-top: 1.8rem;
		@media (min-width: 1023px) {
			margin-top: 6rem;
		}
	}
}

.sedans {
	border-radius: 12px 12px 0 0;
	@media (min-width: 1023px) {
		border-radius: 12px 0 0 12px;
	}
	background-color: $primary-sedans;
	h2, p, img {
		background-color: $primary-sedans;
	}
	button {
		color: $primary-sedans;
		&:hover {
			background-color: $primary-sedans;
			border: 2px solid map-get($text-colours, other);
			color: map-get($text-colours, other);
		}
	}
}

.suv {
	background-color: $primary-suv;
	h2, p, img {
		background-color: $primary-suv;
	}
	button {
		color: $primary-suv;
	&:hover {
		background-color: $primary-suv;
		border: 2px solid map-get($text-colours, other);
		color: map-get($text-colours, other);
		}
	}
}

.luxury {
	border-radius: 0 0 12px 12px;
	@media (min-width: 1023px) {
		border-radius: 0 12px 12px 0;
	}
	background-color: $primary-luxury;
	h2, p, img {
		background-color: $primary-luxury;
	}
	button {
		color: $primary-luxury;
		&:hover
		{
			background-color: $primary-luxury;
			border: 2px solid map-get($text-colours, other);
			color: map-get($text-colours, other);
		}
	}
}