@import "../utils/variables";

.card__primary-button {
	border-radius: 42px;
	padding: .7rem 1.5rem;
	border: 2px solid transparent;
	background-color: map-get($text-colours, other);
	&:hover {
		cursor: pointer;
	}
}